@media (min-width:1600px) {
  .header{
    height: 8rem;
  
    .navbar{
      .register-button-div{
        .register-button{
          font-size: 2rem;
        }
        .register-arrow{
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      .logo{
        width: 4rem;
        height: auto;
      }
    }
  }
  
  .main-content{
    .start-block{
      .impact-phrase-div{
        .impact-phrase{
          font-size: 1.75rem;
        }
      }
  
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 7.5rem;
        }
        img{
          width: 12rem;
          height: auto;
        }
      }
  
      .see-more-button{
        margin-top: 1.5rem;
        font-size: 1.75rem;
      }
    }
  
    .speakers{
  
      h2{
        font-size: 2.25rem;
      }
      .carousel{
        .carousel-wrapper{
          .carousel-items{
            height: 100%;
            width: 32rem;
            h2{
              font-size: 2.25rem;
            }
  
            p{
              font-size: 1.5rem;
            }
  
            .speaker-img-div{
              img{
                width: 8rem;
              }
            }
          } // . carousel-items
        }
      } // .carousel
  
      .carousel-nav{
        gap: 1.5rem;
        .carousel-label{
          width: 2.25rem;
          height: .4rem;
        }
      } // .carousel-nav

      #next-button,#prev-button{
        position: absolute;
        bottom: 50%;
        cursor: pointer;
        img{
          width: 2.5rem;
          height: 2.75rem;
        }
      }
    }

    .event-description{
    
      h2{
        font-size: 2.25rem;
      }
      .description-content{
        max-width: 90%;
        p{
          width: 50%;
          font-size: 1.5rem;
        }
      }
    }
  } // .main-content

  .footter{
    .logo{
      width: 4rem;
    }
    .display-flex{
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .main-content{
    .start-block{
      .impact-phrase-div{
        .impact-phrase{
          font-size: 1.3rem;
        }
      }
  
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 4rem;
        }
        img{
          width: 7.5rem;
          height: auto;
        }
      }
  
      .see-more-button{
        margin-top: 1.5rem;
        font-size: 1.2rem;
      }
    }
  
    .speakers{
      h2{
        font-size: 1.5rem;
      }
      min-height: 26rem;
      .carousel{
        .carousel-wrapper{
          .carousel-items{
          height: 90%;

            h2{
              font-size: 1.3rem;
            }
  
            p{
              font-size: 1rem;
            }

            &:first-child{
              margin-left: 25%;
            }
            &:last-child{
              margin-right: 25%;
            }
  
            .speaker-img-div{
              img{
                width: 7rem;
              }
            }
          } // . carousel-items
        }
      } // .carousel
  
      .carousel-nav{
        display: none;
      } // .carousel-nav
    }
  } // .main-content
}

@media (max-width: 768px){
  .main-content{
    .start-block{
      .impact-phrase-div{
        .impact-phrase{
          font-size: 1.1rem;
        }
      }
  
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 3rem;
        }
        img{
          width: 6rem;
          height: auto;
        }
      }
  
      .see-more-button{
        margin-top: 1.5rem;
        font-size: 1.1rem;
      }
    }
  
    .speakers{
      margin-bottom: 2rem;
      min-height: 20rem;
      h2{
        font-size: 1.5rem;
      }
      .carousel{
        height: 100%;
        .carousel-wrapper{
          .carousel-items{
            height: 100%;
            width: 16rem;
            h2{
              font-size: 1.3rem;
            }
  
            p{
              font-size: 1rem;
            }

            &:first-child{
              margin-left: 25%;
            }
            &:last-child{
              margin-right: 25%;
            }
  
            .speaker-img-div{
              img{
                width: 6rem;
              }
            }
          } // . carousel-items
        }
      } // .carousel
  
      .carousel-nav{
        display: none;
        gap: 1.5rem;
        .carousel-label{
          width: 1.75rem;
        }
      } // .carousel-nav
    }

    .event-description{
    
      h2{
        color: $light-font;
        font-size: 1.75rem;
        font-weight: 300;
      }
    }
  } // .main-content
}

@media (max-width:578px) {

  .header{
    height: 6rem;
  
    .navbar{
      .register-button-div{
        .register-button{
          font-size: 1.25rem;
        }
        .register-arrow{
          width: 1rem;
          height: 1rem;
        }
        &:hover{
          border: .2rem solid $main-yellow-color;
          .register-button{
            color: $dark-font;
          }
          .register-arrow{
            background-image: url("../images/arrow_black.svg");
          }
        }
      }

      .logo{
        width: 2.75rem;
        height: auto;
      }
    }
  }

  .main-content{
    .start-block{
      .impact-phrase-div{
        .impact-phrase{
          font-size: 1rem;
        }
      }
  
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 2.25rem;
        }
        img{
          width: 4.5rem;
          height: auto;
        }
      }
  
      .see-more-button{
        margin-top: 1.5rem;
        font-size: 1rem;
      }
    }
  
    .speakers{
      margin-bottom: 2rem;

      h2{
        font-size: 1.3rem;
      }
      .carousel{
        height: 90%;
        .carousel-wrapper{
          .carousel-items{
            height: 20rem;
            width: 16rem;
            h2{
              font-size: 1.3rem;
            }
  
            p{
              font-size: 1rem;
            }

            &:first-child{
              margin-left: 15%;
            }
            &:last-child{
              margin-right: 15%;
            }
  
            .speaker-img-div{
              img{
                width: 6rem;
              }
            }
          } // . carousel-items
        }
      } // .carousel
  
      .carousel-nav{
        display: none;
        gap: 1.5rem;
        .carousel-label{
          width: 1.75rem;
        }
      } // .carousel-nav
    }

    .event-description{
      h2{
        color: $light-font;
        font-size: 1.75rem;
        font-weight: 300;
      }
      .description-content{
        flex-direction: column;

        p{
          width: 100%;
          color: $light-font;
          font-size: 1rem;
        }
      }
    }
  } // .main-content

}

@media (max-width:425px) {

  .header{
    .navbar{
      .logo{
        width: 2.5rem;
        height: auto;
      }
    }
  }

  .main-content{
    .start-block{
      .impact-phrase-div{
        margin-right: .5rem;
        .impact-phrase{
          font-size: .9rem;
        }
      }
  
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 1.75rem;
        }
        img{
          width: 3.5rem;
          height: auto;
        }
      }
  
      .see-more-button{
        margin-top: 1.5rem;
        font-size: .9rem;
      }
    }
  
    .speakers{
      h2{
        font-size: 1.5rem;
      }
      .carousel{
        height: 95%;
        .carousel-wrapper{
          .carousel-items{
            height: 20rem;
            width: 90%;

            h2{
              font-size: 1.2rem;
            }
  
            p{
              font-size: .9rem;
            }

            &:first-child{
              margin-left: 3%;
            }
            &:last-child{
              margin-right: 3%;
            }
  
            .speaker-img-div{
              img{
                width: 5rem;
              }
            }
          } // . carousel-items
        }
      } // .carousel
    }

    .event-description{
      h2{
        color: $light-font;
        font-size: 1.5rem;
        font-weight: 300;
      }
      .description-content{
        flex-direction: column;
        
        p{
          width: 100%;
          color: $light-font;
          font-size: .9rem;
        }
      }
    }
  } // .main-content

  .footter{
    margin-top: 3rem;
    .display-flex{
      font-size: .75rem;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 325px){

  .main-content{
    .start-block{
      .slogan{
        .first-slogan-part,.second-slogan-part{
          font-size: 1.5rem;
        }
        img{
          width: 3rem;
          height: auto;
        }
      }
    }

    .speakers{
      h2{
        font-size: 1.2rem;
      }

      .carousel{
        height: 90%;
        .carousel-wrapper{
          width: 100%;
          .carousel-items{
            height: 87.5%;
          } // . carousel-items
        }
      } // .carousel

      #next-button,#prev-button{
        bottom: 0;
      }
    }

    .event-description{
      h2{
        color: $light-font;
        font-size: 1.2rem;
        font-weight: 300;
      }

    }
  }

  .footter{
    .logo{
      width: 2.5rem;
    }
  }
}