@keyframes rotateElement {
  0% {
    transform: rotateX(90deg);
  } 
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes swingAndGrow {
  0%{
    transform: scale(1.1) rotateZ(0deg);
  }
  25%{
    transform: scale(1.1) rotateZ(10deg);
  }
  50% {
    transform: scale(1.1) rotateZ(-10deg);
  }
  75%{
    transform: scale(1.1) rotateZ(0deg);
  }
  100%{
    transform: scale(1.1);
  }
}

@keyframes grow{
  0%{
    transform: scale(1.1);
  }

  50%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.1);
  }
}

@keyframes toLeftRun {
  0% {
    transform: translateX(110%) rotate(360deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes toRightRun {
  0% {
    transform: translateX(-110%) rotate(-360deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}