*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: $background-dark-color;
}

.container{
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

.container-body{
  max-width: 90%;
  width: 100%;
}

.margin-auto{
  margin-left: auto;
  margin-right: auto;
}

.display-flex{
  display: flex;
}

::-webkit-scrollbar{
  width: .5rem;
  background-color: $box-background-color;
}

::-webkit-scrollbar-thumb{
  background-color: $main-yellow-color;
  border-radius: 1rem;
}